body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: #005BB3;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    background: #005BB3;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* IMAGEN ARRIBA */
.contenedor-imagen {
    width: 100%;
    height: 260px;   /* AUMENTÉ EL TAMAÑO */
    background: #e6effc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-demo {
    width: 92%;
    height: 300px;   /* IMAGEN MÁS GRANDE */
    border-radius: 13px;
    background: linear-gradient(135deg, white, white);
    box-shadow: 0 4px 14px rgba(158, 62, 62, 0.25);
}

/* FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column;
    padding: 35px 25px;   /* MÁS ESPACIO ARRIBA */
}

.titulo {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

label {
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.link {
    margin-top: 10px;
    color: white
;
    font-size: 14px;
    text-decoration: none;
}

.btn {
    margin-top: 20px;
    padding: 12px;
    background: #a6def2a8;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #c8cdd8;
}
.barra-superior {
    padding: 15px 0;
    display: flex;
    justify-content: center;   /* CENTRA */
    align-items: center;
}

.contenedor-imagen-centro img {
    height: 300px; /* Tamaño ajustable */
}